* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  background-color: skyblue;
  width: 100%;
  padding: 20px 0;
}
header h2 {
  text-align: center;
  color: darkcyan;
  font-size: 2rem;
}

.linkBlock {
  width: 100%;
  background-color: darkblue;
  padding: 20px 0;
}
.linkBlock a {
  font-size: 1.2rem;
  text-decoration: none;
  padding: 0 10px;
  color: white;
}

.wrapperContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.wrapperContent .navigate {
  background-color: skyblue;
  padding: 10px 20px;
  -webkit-box-flex: 20%;
      -ms-flex: 20%;
          flex: 20%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.wrapperContent .navigate a {
  font-size: 1.2rem;
  margin-bottom: 10px;
  text-decoration: none;
}
.wrapperContent main {
  -webkit-box-flex: 80%;
      -ms-flex: 80%;
          flex: 80%;
  background-color: darkcyan;
}
.wrapperContent .photoBlock {
  background: slateblue;
  width: 100%;
  padding: 20px;
}